!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CloudM
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = growlyflash_static_notices
  %body
    %header
      = render 'layouts/navigation'
    %br
    %br
    %br
    %br
    .container
      -#- flash.each do |name, msg|
      -#  = content_tag :div, class: "alert alert-#{name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do
      -#    %button.close{type: "button", data: {dismiss: "alert"} }
      -#      %span{aria: {hidden: "true"} } &times;
      -#      %span.sr-only Close
      -#    = msg
      = yield